#centered {
    text-align: center;
    color: brown;
} 
.table {
	display: table;  
	margin: 0 auto;
}
ul#hl {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#hl li {
	display: inline;
}
.colored{
    color: blueviolet;
    text-align: center;
}
.prg{
    text-align: center;

}
#list{
    list-style-position: inside;
}
.vertical{
    margin: auto;
    width: 20%;
}
.h3{
    color: seagreen;
}
